*{
    margin: 0;  
    padding: 0; 
}
.row{
    margin-left: 90px;
}
.card{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);  
    text-align: center;
    transition: 0.6s;
    float: left;  
    margin: 10px;
    background: #fff;
    }
    .card:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);      
    }